<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351695294949-19cs797b8rlh37i0lsn8gqcfqi6tskgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351695294949-19cs797b8rlh37i0lsn8gqcfqi6tskgt</string>
	<key>API_KEY</key>
	<string>AIzaSyAMQzklLP-BOKWMR_5057uPUylr614YuIw</string>
	<key>GCM_SENDER_ID</key>
	<string>351695294949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adna.groupchat02</string>
	<key>PROJECT_ID</key>
	<string>groupchat-8740b</string>
	<key>STORAGE_BUCKET</key>
	<string>groupchat-8740b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351695294949:ios:df5a1c42a9f5938e085f0c</string>
</dict>
</plist>